body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50; /* dark blue */
    color: #ecf0f1; /* off-white */
    text-align: center;
}

h2 {
    color: #9b59b6; /* purple */
}

select {
    background-color: #8e44ad; /* dark purple */
    color: #ecf0f1; /* off-white */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
button {
    background-color: #8e44ad; /* dark purple */
    color: #ecf0f1; /* off-white */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.section-header {
    cursor: pointer;
    background-color: #34495e; /* darker blue */
    padding: 10px;
    border: 1px solid #2c3e50; /* dark blue */
    margin-top: 5px;
}

.section-header:hover {
    background-color: #2c3e50; /* dark blue */
}

.section-content {
    display: none;
    padding: 10px;
    border: 1px solid #2c3e50; /* dark blue */
    background-color: #34495e; /* darker blue */
}

.section-content p {
    margin: 0;
}

.section-content h3,
.section-content h4,
.section-content h5 {
    color: #9b59b6; /* purple */
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 20%; /* Adjust as needed */
    margin-top: 20px; /* Adjust as needed */
    margin: 0 auto; /* Centers the container horizontally */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    margin-top: 20px; /* Adjust this value as needed */
}

.image-container img {
    display: block;
    max-width: 30%;
    height: auto;
}

p {
    flex: 1;
}

.image-in-paragraph {
    height: 1vh; /* Set the height of the image to 1% of the viewport height */
    width: 1vh; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the image vertically */
}
.iframe-container {
    display: none;
  }
.container2 {
  max-width: 50; /* Adjust as needed */
  margin-top: 20px; /* Adjust as needed */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img2 {
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
  margin-top:10px;
  height: auto;
  width:40%
}
input {
    background-color: #8e44ad; /* dark purple */
    color: #ecf0f1; /* off-white */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
